pipeline/PL_Parametrization_ADLS.json
{
	"name": "PL_Parametrization_ADLS",
	"properties": {
		"activities": [
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup1').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Copy",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"additionalColumns": [
										{
											"name": "source_filename",
											"value": "$$FILEPATH"
										},
										{
											"name": "pipelineId",
											"value": {
												"value": "@pipeline().RunId",
												"type": "Expression"
											}
										}
									],
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": false,
										"wildcardFolderPath": {
											"value": "@item().folder",
											"type": "Expression"
										},
										"wildcardFileName": {
											"value": "@{item().fileName}*",
											"type": "Expression"
										},
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "AzureSqlSink",
									"preCopyScript": {
										"value": "TRUNCATE TABLE @{item().destinationSchemaName}.@{item().destinationTableName}",
										"type": "Expression"
									},
									"writeBehavior": "insert",
									"sqlWriterUseTableLock": false,
									"disableMetricsCollection": false
								},
								"enableStaging": false,
								"dataIntegrationUnits": {
									"value": "@item().DIU",
									"type": "Expression"
								},
								"translator": {
									"value": "@json(item().Mapping)",
									"type": "Expression"
								}
							},
							"inputs": [
								{
									"referenceName": "ADSL_RawMetadataDriven",
									"type": "DatasetReference",
									"parameters": {
										"columnDelimiter": "@item().columnDelimiter",
										"encoding": "@item().encoding",
										"escapeCharacter": "@item().escapeCharacter",
										"quoteCharacter": "@item().quoteCharacter",
										"container": "@item().container",
										"folder": "@item().folder",
										"fileName": {
											"value": "@item().fileName",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "ASQL_Movies_DB",
									"type": "DatasetReference",
									"parameters": {
										"tableName": {
											"value": "@item().destinationTableName",
											"type": "Expression"
										},
										"schemaName": {
											"value": "@item().destinationSchemaName",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "Copy data1",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "Copy",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderQuery": "SELECT '@{pipeline().DataFactory}' as DataFactory_Name,\n'@{pipeline().Pipeline}' as Pipeline_Name,\n'@{pipeline().RunId}' as RunId",
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "ASQL_Movies_DB",
									"type": "DatasetReference",
									"parameters": {
										"tableName": "@item().destinationTableName",
										"schemaName": "@item().destinationSchemaName"
									}
								}
							],
							"outputs": [
								{
									"referenceName": "DelimitedText1",
									"type": "DatasetReference"
								}
							]
						}
					]
				}
			},
			{
				"name": "Lookup1",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ASQL_ControlMetadata",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			}
		],
		"variables": {
			"reciever": {
				"type": "String",
				"defaultValue": "sigma.beex@gmail.com"
			},
			"test": {
				"type": "String"
			},
			"errorMessage": {
				"type": "String"
			},
			"errorMsg": {
				"type": "String"
			}
		},
		"folder": {
			"name": "Module9"
		},
		"annotations": [],
		"lastPublishTime": "2023-04-14T13:20:03Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}